<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="DefaultConnection" connectionString="Data Source=192.182.20.5;Initial Catalog=FZ_LIFE2;Integrated Security=False;User ID=fangzhenglife;Password=!QAZ2wsx;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--方正环境-->
    <add key="ssoUrl" value="http://113.9.157.8:9180/" />
    <add key="localUrl" value="http://sh.zhfz.org.cn/" />
    
    <add key="clientId" value="eca0e18d-fe3b-4afd-a7b3-81aace5a5d45" />
    <add key="clientSecret" value="4ba3a5c2-5f53-4363-a031-7c9bb5f479bb" />
    <!--微信-->
    <add key="mUrl" value="http://sh.zhfz.org.cn/m/" /> <!--微门户地址-->
    <add key="redirectUrl" value="http://sh.zhfz.org.cn/api/weixin/LoginSuccess" /> <!--微信登录跳转地址-->
    <add key="rootPath" value="D:\APP\zhsh" />
    <add key="appType" value="test" />
    <!--ding test fuwu-->
    <add key="appId" value="wxe469145ed06747f8" />
    <add key="appsecret" value="16045ba67a90639e199d10c77d69bd6a" />
    <!--微信-->
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="524288000" executionTimeout="3600" targetFramework="4.5" />
    <compilation targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="all" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
　　　　<requestFiltering>
　　　　　　<requestLimits maxAllowedContentLength="1073741824" />
　　　　</requestFiltering>
　　</security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LifeUserSoap" />
	<binding name="ManagerGetMessageSoap" />
	<binding name="IndexSoap" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://113.9.157.8:9180/LifeUser.asmx" binding="basicHttpBinding" bindingConfiguration="LifeUserSoap" contract="LifeService.LifeUserSoap" name="LifeUserSoap" />
      <endpoint address="http://113.9.157.8:8901/ManagerGetMessage.asmx" binding="basicHttpBinding" bindingConfiguration="ManagerGetMessageSoap" contract="GetMessageInfoService.ManagerGetMessageSoap" name="ManagerGetMessageSoap" />
      <endpoint address="http://www.hrbfz.gov.cn/webservice/index.asmx" binding="basicHttpBinding" bindingConfiguration="IndexSoap" contract="GetFZWeb.IndexSoap" name="IndexSoap" />
      
    </client>
  </system.serviceModel>
</configuration>