<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
    </div>
    <div class="panel-body">
        <form name="addNewsForm" class="form-horizontal" ng-submit="subFunc">
            <div class="form-group" style="padding-bottom:5px;" ng-show="model.Statu==3">
                <label class="col-sm-2 control-label" style="color:red">驳回意见</label>
                <div class="col-sm-5">
                    <div style="margin-top:4px;color:red;font-size:16px;">{{model.Opinion}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标题<span style="color:red">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="model.Title" required>
                </div>
            </div>
            <div class="form-group">
                <label for="kind" class="col-sm-2 control-label">分类<span style="color:red">*</span></label>
                <div class="col-sm-5">
                    <select class="form-control" id="kind" ng-model="kind" ng-options="kind.Name for kind in kinds" required>
                <option value="">请选择</option>
            </select>
                </div>
            </div>
            <div class="form-group">
                <label for="kind" class="col-sm-2 control-label">内容<span style="color:red">*</span></label>
                <div class="col-sm-5">
                    <div editor ng-model="model.Content" required></div>
                </div>
            </div>
            <div class="form-group pic-img" ng-show="model.HeadImgUrl !=null">
                <label for="kind" class="col-sm-2 control-label">封面</label>
                <div class="col-sm-5">
                    <img ng-src="{{model.HeadImgUrl}}" style="width:300px;float:left;margin:5px;" />
                </div>
            </div>
            <div class="form-group pic-img">
                <label class=" col-sm-2 control-label">封面修改</label>
                <div class="col-lg-5">
                    <input type="file" class="form-control file" ng-model="model.FileId" allow-file-exts="exts" data-show-preview="true">
                </div>
            </div>
            <div class="form-group pic-img" ng-show="model.VideoUrl !=null">
                <label class="col-sm-2 control-label">视频预览</label>
                <div class="col-sm-5" id="videoHtml" style="margin-top:6px;text-align: center;">


                </div>
            </div>
            <div class="form-group">
                <label for="kind" class="col-sm-2 control-label"><span style="color:red">*</span></label>
                <div class="col-sm-5" style="color: red;margin-top: 5px;">
                    如要修改，请上传视频或输入正确的视频地址
                </div>
            </div>
            <div class="form-group pic-img">
                <label class=" col-sm-2 control-label">视频上传</label>
                <div class="col-lg-5">
                    <input type="file" class="form-control file" ng-model="model.VideoId" allow-file-exts="extler">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">视频地址</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="model.VideoUrl" placeholder="请输入视频地址">
                </div>
            </div>
            <div class="form-group">
                <label for="kind" class="col-lg-2 control-label">发布日期<span style="color:red">*</span></label>
                <div class="col-lg-3">
                    <input type="text" date ng-model="model.PushDay" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-disabled="addNewsForm.$invalid" ng-click="sub()">提交审核</button>
                    <button type="button" class="btn btn-default" ng-disabled="addNewsForm.$invalid" ng-click="save()">保存</button>
                    <a ng-click="back() " class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>