<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
    </div>
    <div class="panel-body">
        <form name="addNewsForm" class="form-horizontal" ng-submit="subFunc">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题<span style="color:red">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="model.Title" id="title" placeholder="请输入标题" required>
                </div>
            </div>
            <div class="form-group pic-img">
                <label class=" col-sm-2 control-label">封面上传</label>
                <div class="col-lg-5">
                    <input type="file" class="form-control file" ng-model="suver.FileId" allow-file-exts="extler" data-show-preview="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-lg-5">
                    <span style="color:red"><span>* </span>建议上传图片宽高比为：1：2，图片大小不得小于 400像素x800像素。</span>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-lg-2 control-label">是否显示</label>
                <div class="col-lg-3" style="padding-top:6px;">
                    <input type="checkbox"/>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-disabled="addNewsForm.$invalid" ng-click="save()">保存</button>
                    <a ng-click="back() " class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>