<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
    </div>
    <div class="panel-body">
        <form name="addrelForm" class="form-horizontal">
            <table class="table table-bordered soltable">
                <tbody>
                    <tr>
                        <th class="text-left col-sm-1" style="vertical-align:middle;">项目名称<span style="color:red;vertical-align:middle;">*</span></th>
                        <td class="text-left col-sm-6">
                            <input type="text" class="form-control numberarr" ng-model="model.Name" placeholder="请输入项目名称" required>
                        </td>
                        <td class="text-center col-sm-1" style="vertical-align:middle;">
                            <a  ng-click="add()" class="btn btn-sm btn-default">添加监控地址</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding:0px 0;">
                            <table class="table table-bordered tableclass" style="margin-bottom:0px;border-left:none;border-right:none;" ng-repeat="list in MonitorInfo">
                                <tr >
                                    <th class="text-left col-sm-1" style="border-left-width: 0px;vertical-align:middle;">
                                        <span style="font-weight: bold;">设备名称</span><span style="color:red;vertical-align: middle;">*</span>
                                    </th>
                                    <td class="text-left col-sm-2" >
                                        <input type="text" class="form-control numberarr" ng-model="list.Name" placeholder="请输入设备名称" required>
                                    </td>
                                    <th class="text-left col-sm-1" style="border-left-width: 0px;vertical-align:middle;">
                                        <span style="font-weight: bold;">监控地址</span><span style="color:red;vertical-align: middle;">*</span>
                                    </th>
                                    <td class="text-left col-sm-2" >
                                        <input type="text" class="form-control numberarr" ng-model="list.Url" placeholder="请输入监控地址" required>
                                    </td>
                                    <td class="text-center col-sm-1" style="border-left-width: 0px;vertical-align:middle;">
                                       <input type="checkbox" id="ched{{$index}}" ng-model="list.IsDisplay" style="vertical-align: top;"><label for="ched{{$index}}">是否显示</label>
                                    </td>
                                    <td class="col-sm-1 text-nowrap text-center" style="border-right-width: 0px;vertical-align:middle;">
                                        <a ng-click="del(MonitorInfo,list)" class="btn btn-sm btn-default">删除监控地址</a>
                                    </td>
                                </tr>
   
                            </table>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="form-group">
                <div class="text-center">
                    <button type="button" class="btn btn-default" ng-disabled="addrelForm.$invalid" ng-click="save()">保存</button>
                    <a ng-click="back()" class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
        
        
    </div>
</div>

