<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
        <!--<span class="h4">修改序列号</span>-->
        <!--<div class="pull-right">-->
            <!--<a class="btn btn-default btn-sm" ng-click="back() " style="margin-top:-5px;">-->
                <!--返回-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<form name="addNewsForm" class="form-horizontal" ng-submit="subFunc">-->
            <!--<div class="ng-scope container-fluid" ui-view="">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12  " style="min-height:500px;">-->
                        <!--<h2 class="title text-center" style="margin-top:20px" data-value="">{{model.Title}}</h2>-->
                        <!--<div style="margin:20px 0;overflow:hidden;text-align: center;">-->
                            <!--<div class="col-md-6 col-sm-6 text-right">作者：<span class="user">作者</span></div>-->
                            <!--<div class="time col-md-6 col-sm-6 text-left" data-value="">{{model.PushDay|date}}</div>-->
                        <!--</div>-->
                        <!--<div style="margin:0 auto;margin:20px 0;overflow:hidden;text-align: center;">-->
                            <!--<input type="text" class="form-control" ng-model="model.Order">-->
                            <!--<a class="btn btn-sm btn-default" ng-click="save()" href="#/publishNum/{{item.Id}}">保存</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->


<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" ng-click="back() " style="margin-top:-5px;">
                返回
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form name="addNewsForm" class="form-horizontal" ng-submit="subFunc">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-5" style="margin-top:6px;">
                    {{model.Title}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">推送时间</label>
                <div class="col-sm-5" style="margin-top:6px;">
                    {{model.PushDay|date}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序号</label>
                <div class="col-sm-5" style="margin-top:6px;">
                    <input type="text" class="form-control" ng-model="model.Order">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 text-center">
                    <a class="btn btn-sm btn-default" ng-click="save()">保存</a>
                </div>
            </div>
        </form>

    </div>
</div>