<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" ui-sref="wemapImport" style="margin-top:-5px;">
                批量导入
            </a>
            <a class="btn btn-default btn-sm" ng-click="queryFunc()" style="margin-top:-5px;">
                <i class="glyphicon glyphicon-search"></i>
                查询
            </a>
            <a class="btn btn-default btn-sm" ui-sref="wemapAdd" style="margin-top:-5px;">
                <i class="glyphicon glyphicon-plus"></i>
                新增
            </a>
            <a class="btn btn-default btn-sm" ui-sref="wemapDetail" style="margin-top:-5px;">
                
                预览
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-inline form-horizontal" role="form">
            <div class="form-group col-lg-4">
                <label class="control-label col-lg-4 text-left">名称</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="query.Name" placeholder="请输入名称">
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label col-lg-4 text-left text-nowrap">标点分类</label>
                <div class="col-lg-8">
                    <select class="form-control"  ng-model="query.TypeId">
                    <option value="">请选择</option>
                    <option value="{{kind.Id}}" ng-repeat="kind in kinds">{{kind.Name}}</option>
            </select>
                </div>
            </div>
            <!--<div class="checkbox col-lg-4">
                <label class="col-lg-offset-4">
                    <input type="checkbox" ng-model="query.IsDeleted"> 包括删除
                </label>
            </div>-->
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                <th class="text-center"><input type="checkbox" ng-model="checked" ></th>
                <th>标点分类</th>
                <th>名称</th>
                <th>营业时间</th>
                <th>主营业务</th>
                <th>备注</th>
                <th class="text-center">操作</th>
            </tr>
            <tr ng-repeat="item in items">
                <td class="text-center"><input type="checkbox" ng-checked="checked" data-id="{{item.Id}}"></td>
                <td>{{item.TypeName}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.BusinessTime}}</td>
                <td>{{item.MainBusiness}}</td>
                <td>{{item.Remark}}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-sm btn-default" href="{{'#/wemapEdit/'+item.Id}}">修改</a>
                        <a class="btn btn-sm btn-default" ng-show="item.TypeName=='汽车客运'" href="{{'#/wemapMain/'+item.Id+'/'+item.Name}}">时刻表管理</a>
                        <!--<a class="btn btn-sm btn-default bs-btn-alert" data-msg="确认{{item.IsDeleted|check:['恢复','删除']}}?" data-url="{{cfg.host+ 'Map/delete/'+ item.Id}}">{{item.IsDeleted|check:['恢复','删除']}}</a>-->
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<pager count="{{data.Count}}" index="{{query.index}}" action="go(index,size)"></pager>
