<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{title}}</span>
        <div class="pull-right">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr class="text-center">
                <th class="text-center">始发站</th>
                <th class="text-center">终点站</th>
                <th class="text-center">发车时间</th>
                <th class="text-center">车牌号</th>
                <th class="text-center" style="padding:2px;"><a ng-click="add()"  class="btn btn-default btn-sm">添加</a></th>
            </tr>
            <tobdy>
                <tr ng-repeat="item in data">
                    <td class="text-center" style="padding:2px;">
                        <input type="text" class="form-control" ng-model="item.Station" placeholder="请输入始发站" required>
                    </td>
                    <td class="text-center" style="padding:2px;">
                        <input type="text" class="form-control" ng-model="item.Terminus" placeholder="请输入终点站" required>
                    </td>
                    <td class="text-center" style="padding:2px;">
                        <input type="text" class="form-control" ng-model="item.Time" placeholder="请输入发车时间" required>
                    </td>
                    <td class="text-center" style="padding:2px;">
                        <input type="text" class="form-control" ng-model="item.Number" placeholder="请输入车牌号" required>
                    </td>
                    <td class="text-center" style="padding:2px;">
                        <a ng-click="del(data,item)"  class="btn btn-sm btn-default">删除</a>
                    </td>
                </tr>
            </tobdy>
        </table>
        <div class="text-center col-sm-12">
            <button type="button" class="btn btn-default" ng-disabled="addrelForm.$invalid" ng-click="save()">保存</button>
            <a class="btn btn-default" ng-click="back()">返回</a>
        </div>
    </div>
</div>
