@import url(bootstrap.css);
@import url(swiper.css);
@import url(weui.css);
@import url(bootstrap-datetimepicker.css);

/*字体*/
body{
    font-family: "微软雅黑","黑体", "heiti";
    color: #000000;
}
/*字体*/

/*去除默认样式*/
html, body, input, button, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, textarea, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    outline: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}

html, body {
    width: 100%;
    background-color: #ffffff;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    background-color: #ffffff;
    cursor: default;
}

button, a {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

input,input:focus,input:active {
    user-select: text;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline:none;
    drop_click_dash: expression(this.onFocus=this.blur());
    -moz-outline-style: none; /* FF */
}

a:focus{
    text-decoration: none;
    outline:none;
    cursor: pointer;
    -moz-outline-style: none; /* FF */
    outline: none;
}

a:link {
    text-decoration: none;
    outline:none;
    drop_click_dash: expression(this.onFocus=this.blur());
    -moz-outline-style: none; /* FF */
}

a:visited {
    text-decoration: none;
    outline:none;
    drop_click_dash: expression(this.onFocus=this.blur());
    -moz-outline-style: none; /* FF */
}

a:hover {
    text-decoration: none;
    outline:none;
    drop_click_dash: expression(this.onFocus=this.blur());
    -moz-outline-style: none; /* FF */
}

a:active {
    text-decoration: none;
    outline:none;
    drop_click_dash: expression(this.onFocus=this.blur());
    -moz-outline-style: none; /* FF */
}

button,
a,
input[type="button"],
input[type="text"] {
    tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.tap-highlight:active {
    background: none !important;
    background-color: #f8f8f8 !important;
}

button:active,
a:active,
input[type="button"]:active {
    opacity: 0.1;
}

li {
    list-style: none;
}

.table-cell {
    display: table-cell;
    width: 100%;
}

.nodis {
    display: none !important;
}

.novis {
    visibility: hidden !important;
}
/*去除默认样式*/

/*datetimepicker*/
.datetimepicker td, .datetimepicker th {
    width: auto;
    height: auto;
}
/*datetimepicker*/

/*分页*/
.tcdPageCode{
    padding-bottom: 10px;
    text-align: left;
    color: #ccc;
}
.tcdPageCode a{
    display: inline-block;
    color: #428bca;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode a:hover{
    text-decoration: none;
    border: 1px solid #337ab7;
}
.tcdPageCode span.current{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode span.disabled{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}
/*分页*/
/*后台管理左侧导航菜单*/
#wrapper {
    width: 100%;
}

td.check {
    text-align: center;
}

.navbar-brand {
    height: 80px;
    line-height: 55px;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 350px;
    background-color: #ffffff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 200px;
        border-left: 1px solid #e7e7e7;
    }
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}


.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 200px;
        margin-top: 81px;
    }
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}


.chat li .chat-body p {
    margin: 0;
}

.panel-body {
    padding: 10px;
    padding-bottom: 0;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.panel {
    margin-bottom: 0;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
/*后台管理左侧导航菜单*/

/*过渡效果*/
.test {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 40%;
    left: 50%;
    z-index: 10001
}
/*过渡效果*/
